*,
*::after,
*::before {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-image: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}  

.logo, .nav, .switch-lng {
    margin-top: 20px;
}

.logo {
 width: 50px;
 height: 50px;
 margin-top: 25px;
 background-image: url("./assets/svg/logo.svg");
 background-repeat: no-repeat;
 background-position: center 0;
 transition: 0.3s;
}

.logo:hover {
    background-image: url("./assets/svg/logo-hover.svg");
    background-repeat: no-repeat;
    background-position: center 0;
}

.nav {
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
}

.nav-list {
    display: flex;
    width: 500px;
    height: 50px;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.skills, .portfolio, .video, .price, .contacts {
    display: inline-block;
    margin-left: 30px;
}

.skills {
    width: 49px;
}

.portfolio {
    width: 81px;
}

.video {
    width: 55px;
}

.price {
    width: 48px;
}

.contacts {
    width: 86px;
}

.nav-link, .switch-lng-link {
    font-size: 20px;
    color: #FFFFFF;
  }

.switch-lng {
    display: flex;
    font-weight: 700;
    width: 70px;
    height: 50px;
    align-items: center;
}

.en {
    color: #bdae82;
    margin-right: 9px;
}

.ru {
    margin-left:9px;
}

.bg {
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    padding-top: 160px;
}

.hero {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    width: 500px;
    height: 330px;
    margin-left: 60px;  
}

.hero-title {
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 60px;
    width: 500px;
    height: 120px;
    vertical-align: middle;
}

.h1 {
    font-size: 100%;
    font-weight: normal;
}

.hero-text {
    padding-top: 10px;
}

.button-gold {
    background: #bdae82;
    width: 220px;
    height: 55px;
    margin-top: 25px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer
}

.link-hire {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.hire-me-link:hover {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.main {
    background:  #000000;
}

.skills-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
 
.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    height: 242px;
    margin-top: 60px;
    background: coral;
}

.skills-item {
    display: flex;
    flex-direction: column;
    width: 320px;
}



.section-title {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 80px;

}

.line-section {
    width: 274px;
    height: 41px;
    border-bottom: 2px solid #bdae82;
}

.title-section {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    color: #bdae82;
    width: 152px;
    text-align: center;
    padding-top: 15px;
}

.h2 {
    font-size: 100%;
    font-weight: normal;
}


.test {
    height: 100px;
    background: coral;
}


.footer {
    display: flex;
    border: 2px solid black;
}
